<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB422</title>
    <script>

        //POST (Add new Restaurant)

         /* let newRestaurant = {
            "address": {
                "building": "2333",
                "coord": [-73.98241999999992, 44.579505],
                "street": "new street",
                "zipcode": "19854"
            },
            "borough": "Brooklyn",
            "cuisine": "American",
            "grades": [{
                "date": "2014-06-10T00:00:00.000+00:00",
                "grade": "A",
                "score":5
            }, 
            {
                "date": "2013-06-05T00:00:00.000+00:00",
                "grade": "A",
                "score":7
            },
            {
                "date": "2012-04-13T00:00:00.000+00:00",
                "grade": "A",
                "score":12
            },
            {
                "date": "2011-10-12T00:00:00.000+00:00",
                "grade": "A",
                "score":12
            }],
            "name": "New Name",
            "restaurant_id": "99999999"
        };

        fetch("/api/restaurants", {
            method:"POST",
            body: JSON.stringify(newRestaurant),
            headers: {
                "Content-Type": "application/json"
            }
        }).then(res=>res.json()).then(data=>{
            console.log(data)
        })  
 */
        //GET all Restaurants

       /*fetch("/api/restaurants?page=1&perPage=5&borough=Bronx").then(res=>res.json()).then(data=>{
            console.log(data);
        }).catch(err=>{
            console.log(err);
        }); */

        

        // GET one Restaurant

        /* fetch("/api/restaurants/5eb3d668b31de5d588f4292e").then(res=>res.json()).then(data=>{
            console.log(data);
        });  */

        
        //PUT (Update Existing Restaurant)

        /* let updatedRestaurant = {
            "address": {
                "building": "2333",
                "coord": [-73.98241999999992, 44.579505],
                "street": "new street",
                "zipcode": "19854"
            },
            "borough": "Brooklyn",
            "cuisine": "American",
            "grades": [{
                "date": "2014-06-10T00:00:00.000+00:00",
                "grade": "A",
                "score":5
            }, 
            {
                "date": "2013-06-05T00:00:00.000+00:00",
                "grade": "A",
                "score":7
            },
            {
                "date": "2012-04-13T00:00:00.000+00:00",
                "grade": "A",
                "score":12
            },
            {
                "date": "2011-10-12T00:00:00.000+00:00",
                "grade": "A",
                "score":12
            }],
            "name": "Old Name",
            "restaurant_id": "99999999"
        };

        fetch("/api/restaurants/5eb3d668b31de5d588f4292e",{
            method:"PUT",
            body: JSON.stringify(updatedRestaurant),
            headers: {
                "Content-Type": "application/json"
            }
        }).then(res=>res.json()).then(data=>{
            console.log(data);
        }); */

        //DELETE (Delete Existing Restaurant)

        fetch("/api/restaurants/5eb3d668b31de5d588f4292e",{
            method:"DELETE"
        }).then(res=>res.json()).then(data=>{
            console.log(data);
        });


    </script>
</head>

<body>
    <p>Fetch (AJEX) Testing (open console)</p>
</body>

</html>

